body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.yellow-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  width: 100%;
  margin: 50px auto;
}

.item {
  background: gold;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
}

/* Custom Spans (image jaisa layout) */

.item1 { grid-column: 1 / 13; }

.item2 { grid-column: 1 / 7; }
.item3 { grid-column: 7 / 13; }

.item4 { grid-column: 1 / 5; }
.item5 { grid-column: 5 / 9; }
.item6 { grid-column: 9 / 13; }

.item7  { grid-column: 1 / 4; }
.item8  { grid-column: 4 / 7; }
.item9  { grid-column: 7 / 10; }
.item10  { grid-column: 10 / 13; }

.item11 { grid-column: 1 / 3; }
.item12 { grid-column: 3 / 5; }
.item13 { grid-column: 5 / 7; }
.item14 { grid-column: 7 / 9; }
.item15 { grid-column: 9 / 11; }
.item16 { grid-column: 11 / 13; }